<mat-card matRipple [matRippleColor]="color" [matRippleCentered]="true" (click)="selectProduct()">
    <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="product.pictureURL" alt="Card picture">
    <mat-card-content class="last-child">
        <p>{{ (product.description.length>6)? (product.description | slice:0:50)+'..':(product.description) }}</p>
        <H1>{{product.price}} £</H1>
    </mat-card-content>
</mat-card>