mat-card
{
    text-align: center;
    align-self: center;
    cursor: pointer;
    height: fit-content;
    margin: 50px;
}
mat-card .last-child {
    margin-bottom: 0;
  }
mat-card-title
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
mat-card-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}