<mat-toolbar>
  <span class="clickable" routerLink="/" routerLinkActive="active">Serenata</span>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/basket" routerLinkActive="active" *ngIf="isLoggedIn">
    <mat-icon [matBadge]="nbItems" matBadgeColor="warn">shopping_basket</mat-icon>
  </button>
  <button mat-icon-button routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button (click)="disconnect()" routerLinkActive="active" color="warn" *ngIf="isLoggedIn">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
