<div class="flexContainer">
    <h1>{{product.name}}</h1>
    <img [src]="product.pictureURL"/>
    <p>{{product.description}}</p>
    <button mat-raised-button color="primary" [disabled] = "!isLoggedIn" (click) ="addItemToCart()">{{isLoggedIn ? "Add to cart" : "Please log in"}}</button>
</div>
