mat-card {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
mat-card-title{
    text-align: center;
}
mat-form-field,button{
    width: 100%;
}
mat-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}
@media (max-width: 600px) {
    #container {
        align-items: center;
    }
    mat-card {
        height: 100%;
        width: 100%;
    }
    mat-card-content{
        align-items: center;
    }

  }
