<div class="flexContainer">
    <mat-card>
        <mat-card-title>
            Login
            <hr>
        </mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="email">
                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            Email required.
                        </div>
                        <div *ngIf="email.errors.email">
                            Wrong format.
                        </div>
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">
                            Password required.
                        </div>
                        <div *ngIf="password.errors.pattern">
                            The password should contains at least 8 characters, with a letter and a number.
                        </div>
                      </mat-error>
                  </mat-form-field>
                  <button mat-flat-button color="primary" [disabled]="!loginForm.valid">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
