<div class="flexContainer">
    <table mat-table [dataSource]="userProducts" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="primary" (click)="removeQty(element)" [disabled]="element.qty == 1"> - </button>
                {{element.qty}}
                <button mat-flat-button color="primary" (click)="addQty(element)" [disabled]="element.qty == element.product.qty"> + </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element"> {{element.product.price}} £ </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef><button mat-flat-button color="warn" (click)="clearBasket()"><mat-icon>clear_all</mat-icon>Clear</button></th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="warn" (click)="delete(element)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <h1>TOTAL : {{total}} £ </h1>
</div>