
<div class="flexContainer">
    <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Ex. Flower"   [(ngModel)]="search" (input)="filter()">
        <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="reset()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>    
    <app-product-card *ngFor="let product of filteredProducts" [product]="product">

    </app-product-card>
</div>