/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #d9e9ff; }
.spacer{
    flex: 1 1 auto;
}
.clickable
{
    cursor: pointer;
}
.flexContainer{
    height: calc(100vh - 64px);
    display: flex;
    flex-direction : column;
    flex-wrap: wrap;
    align-items: center;

}@media (max-width: 600px) {
    .flexContainer {
        height: calc(100vh - 56px)
    }
}
simple-snack-bar span {
    margin:auto;
    text-align: center;
  }